<div id="mainplot"/>
<script>
  Plotly.newPlot(  document.getElementById('mainplot'),
  [{
    x: {{ $.Page.Params.plot.dates }},
    y: {{ $.Page.Params.plot.values }},
    mode: 'lines+markers+text',
    text: {{ $.Page.Params.plot.values }},
    textposition: 'top',
    type: 'scatter',
  }], {
    margin: { t: 0 },
    showlegend: false,
    yaxis: {
      rangemode: 'tozero',
      /*
      title: {
        text: "{{ $.Page.Params.plot.unit }}",
      },
      */
      ticksuffix: " {{ $.Page.Params.plot.unit }}",
    },
    xaxis: {
      tickangle: -45,
    },
  });
</script>
